<img style="float: left;" src="https://ga-dash.s3.amazonaws.com/production/assets/logo-9f88ae6c9c3871690e33280fcf557f33.png">     
##       SQL Review
Week 8 | Lesson 2.2

In [3]:
from sqlalchemy import create_engine
import psycopg2
import pandas as pd

conn_str = "host='dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com' dbname='northwind' user='dsi_student' password='gastudents'"
conn = psycopg2.connect(conn_str)

The [Northwind Database Schema](https://northwinddatabase.codeplex.com/) will come in handy for writing your solutions to the problems below. 

A couple of notes on syntax. 

1. You want to wrap column names in double quotes **"column_name"**
2. You can comment out a line by including a double dash in front **--**
3. You want to wrap a string in single quotes **'string'**

```*.sql
SELECT "ProductID" as "PID"
FROM Products
WHERE "ProductName" like '%a' 
--AND 
```

### Problem 1)
#### From the employees table select all employees with an A or a B in their name who were born before 1/1/1980

In [1]:
SQL_STRING = '''

SELECT *
FROM Employees
LIMIT 5
'''

df = pd.read_sql(SQL_STRING, con=conn)
df

#### Problem 2) 

#### From the Customers table return a count of number of customers per Country/City combination. Results should have 3 columns. Country, City, Count.

#### Problem 3
#### From employees table, return the average age of employees per country in DESC order

#### Problem 4
#### From customers table what is the count of customers who have a 4 in their phone number per Region. Limit it to cities with at least 2 customers.