<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Review python iteration, control flows, and functions

_Author: Kiefer Katovich (SF) and Dave Yerrington (SF)_

---




### Learning Objectives
 
- Explore `Python` control flow and conditional programming.  
- Implement `For` and `While` loops to iterate through data structures.
- Apply `if, else` conditional statements.
- Create functions to perform repetitive actions.
- Demonstrate error-handling using `try, except` statements.
- Combine control flow and conditional statements to solve the classic "FizzBuzz" code challenge.
- Use `Python` control flow and functions to help us parse, clean, edit and analyze the Coffee Preferences dataset.

---
### Lesson Guide

- [If Else Statement](#if_else_statements)
- [Iterating With For Loops](#for_loops)
- [FizzBuzz](#fizz_buzz)
- [Functions](#functions)
- [While Loops](#while_loops)
- [Practice control flow on Coffee Preference dataset](#coffee_preference)

In [1]:
import numpy as np

<a id='if_else_statements'></a>

# If, Else Statements

---

### 1. Write an if-else statement to check whether the suitcase is over 50lb.

Print a message indicating whether or not the suitcase is over 50lbs.

In [2]:
weight = float(input("How many pounds does your suitcase weigh? "))

How many pounds does your suitcase weigh? 70

In [2]:
# A:

weight = float(input("How many pounds does your suitcase weigh? "))
if weight > 50:
    print("suitcase is over 50 pounds")

How many pounds does your suitcase weigh? 66
suitcase is over 50 pounds

---

### 2. Write an if-else statement for multiple conditions.

Print out these recommendations based on the weather conditions:

1. The temperature is higher than 60 degrees and it is raining: Bring an umbrella.
2. The temperature is lower than or equal to 60 degrees and it is raining: Bring an umbrella and a jacket.
3. The temperature is higher than 60 degrees and the sun is shining: Wear a T-shirt.
4. The temperature is lower than or equal to 60 degrees and the sun is shining: Bring a jacket.

In [2]:
temperature = float(input('What is the temperature? '))
weather = input('What is the weather? (rain or shine) ')

What is the temperature? 56
What is the weather? (rain or shine) shine

In [3]:
# A:


if temperature > 60 and weather == 'rain':
    print("bring an unbrella")

elif temperature < 60 and weather == 'rain':
    print("bring an umbrella and a jacket")
    
elif temperature > 60 and weather == 'shine':
    print("wear a t-shirt")
    
else:
    print("bring a jacket")

bring a jacket

---
<a id='for_loops'></a>
# For Loops

---
### 3. Write a `for`-loop that iterates from the number 1 to the number 15.

On each iteration, print out the number.

In [7]:
# A:
for i in range(1,16):
    print(i)
    
print('')   
    
for num in range (1,55):
    print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54

---

### 4. Iterate from 1 to 15, printing whether the number is odd or even.

Hint: The modulus operator, `%`, can be used to take the remainder. For example:

```python
9 % 5 == 4
```

Or in other words, the remainder of dividing 9 by 5 is 4.

In [29]:
for i in range(1,16):
    if i % 2:
        print(i, 'odd')
    else:
        print(i, 'even')

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even
11 odd
12 even
13 odd
14 even
15 odd

---
<a id='fizz_buzz'></a>
### 5. Iterate from 1 to 30 with the following instructions:

1. If a number is divisible by 3, print 'fizz'. 
2. If a number is divisible by 5, print 'buzz'. 
3. If a number is both divisible by 3 and 5 print 'fizzbuzz'.
4. Otherwise, print just the number.

In [39]:
for number in range(1,30):
    if number % 3==0 and number % 5 == 0:
        print("fizzbuzz")
    if number % 3 == 0:
        print('fizz')
    if number % 5 == 0:
        print("buzz")
    else:
        print(number)

1
2
fizz
3
4
buzz
fizz
6
7
8
fizz
9
buzz
11
fizz
12
13
14
fizzbuzz
fizz
buzz
16
17
fizz
18
19
buzz
fizz
21
22
23
fizz
24
buzz
26
fizz
27
28
29

In [5]:
# A:

---

### 6. Iterate through the following list of animals, and print each one in all caps.

In [9]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [43]:
# A:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']
for animal in animals:
    print(animal.upper())

DUCK
RAT
BOAR
SLUG
MAMMOTH
GAZELLE

animals = 

---

### 7. Iterate through the animals list. Capitalize the first letter and append the modified animals to a new list.

In [45]:
# A:

new_animals = []
for animal in animals:
    new_animals.append(animal.capitalize())
    
print(new_animals)

['Duck', 'Rat', 'Boar', 'Slug', 'Mammoth', 'Gazelle']

---

### 8. Iterate through the animals. Print out the animal name and the number of vowels in the name.
Hint: You may need to create a variable of vowels for comparison.

In [48]:
# A:

vowels = ['a', 'e', 'i', 'o', 'u']
for animal in animals:
    lower_animal = animal.lower()
    vowel_count = 0 
    for vowel in vowels:
        if vowel in vowels:
                vowel_count += lower_animal.count(vowel) 
    print(lower_animal, vowel_count)

duck 1
rat 1
boar 2
slug 1
mammoth 2
gazelle 3

---
<a id='functions'></a>
# Functions
---

### 9. Write a function that takes word as an argument and returns the number of vowels in the word.

Try it out on three words.

In [8]:
# A:

def num_vowels(word):
    vowels = ['a', 'e', 'i', 'o', 'u']
    num_vowels = 0
    for char in word.lower():
        if char in vowels:
            num_vowels += 1
    return num_vowels

num_vowels('gazzelle')

3

---

### 10. Write a function to calculate the area of a triangle uaing a height and width.

Test it out.

In [9]:
# A:

def tri_area(w, h):
    return .5 * w * h

---
<a id='while_loops'></a>
# While Loops
---

### 11. While loops and strings.

Iterate over the following sentence repeatedly, counting the number of vowels in the sentence until you have tallied one million. Print out the number of iterations it took to reach that amount.

In [12]:

sentence = "A MAN KNOCKED ON MY DOOR AND ASKED FOR A SMALL DONATION TOWARDS THE LOCAL SWIMMING POOL SO I GAVE HIM A GLASS OF WATER"

In [13]:
# A:

iter_counter = 0 
vowel_counter = 0 
while vowel_counter < 10**6:
    iter_counter += 1 
    vowel_counter += num_vowels(sentence)

print(iter_counter)

27778

---

### 12. Try to convert elements in a list to floats.

Create a new list with the converted numbers. If something cannot be converted, skip it and append nothing to the new list.

In [15]:
corrupted = ['!1', '23.1', '23.4.5', '??12', '.12', '12-12', '-11.1', '0-1', '*12.1', '1000']

In [16]:
# A:

def is_float(num):
    allowed_first_chars = ['.', '-']
    is_str_float = num[0].isdigit() or num[0] in allowed_first_chars
    for item in num[1:]:
        is_str_float = is_str_float and item.isdigit()

    return is_str_float

floats = []
for item in corrupted:
    if is_float(item):
        floats.append(float(item))
    else:
        floats.append(None)
        
floats

[None, None, None, None, 0.12, None, None, None, None, 1000.0]

In [17]:
floats = []
for item in corrupted:
    try:
        floats.append(float(item))
    except:
        pass
floats

[23.1, 0.12, -11.1, 1000.0]

---
<a id='coffee_preference'></a>

# Practice control flow on Coffee Preference dataset

### 13. Load coffee preference data from file and print

The code to load in the data is provided below. 

The `with open(..., 'r') as f:` opens up a file in "read" mode (rather than "write"), and assigns this opened file to `f`. 

We can then use the `.readlines()` built-in function to split the csv file on newlines and assign it to the variable `lines`.

In [18]:
with open('datasets/coffee-preferences.txt','r') as f:
    lines = f.readlines()




#### Iterate through lines and print them out

In [19]:
# A:
for line in lines:
    print(line)

Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe

3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,

3/17/2015 18:38:09,April,4,5,5,3,,,3,,5

3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1

3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3

3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,

3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3

3/17/2015 18:39:01,Dave H,4,5,,5,,,,,

3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2

3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4

3/17/2015 18:39:23,Hugh Jass,1,5,5,4,5,2,5,4,1

3/17/2015 18:39:23,Alex,4,5,,3,,,,,

3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,

3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3

3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5

3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2

3/17/2015 18:40:49,Markus,3,5,,3,,,4,,

3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3

3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,

3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3

3/17/2015 18:42:01,cheong-tseng eng,3,1,,,,,4,,

#### Print out just the lines object by typing `lines` in a cell and hitting enter.

In [20]:
# A:

lines

['Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe\n',
 '3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,\n',
 '3/17/2015 18:38:09,April,4,5,5,3,,,3,,5\n',
 '3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1\n',
 '3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3\n',
 '3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,\n',
 '3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3\n',
 '3/17/2015 18:39:01,Dave H,4,5,,5,,,,,\n',
 '3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2\n',
 '3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4\n',
 '3/17/2015 18:39:23,Hugh Jass,1,5,5,4,5,2,5,4,1\n',
 '3/17/2015 18:39:23,Alex,4,5,,3,,,,,\n',
 '3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,\n',
 '3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3\n',
 '3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5\n',
 '3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2\n',
 '3/17/2015 18:40:49,Markus,3,5,,3,,,4,,\n',
 '3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3\n',
 '3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,\n',
 '3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3\n',
 '3/17/2015 18:42:01,cheong-tseng eng,3,1,,,,,4,,']

---

### 14. Remove the remaining newline `'\n'` characters with a for-loop.

Iterate through the lines of the data and remove the unwanted newline characters.

**.replace('\n', '')** is a built-in string function that will take the substring you want to replace as its first argument and the string you want to replace it with as its second.

In [21]:
# A:

new_lines = [line.replace('\n', '') for line in lines]

print(new_lines)

['Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe', '3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,', '3/17/2015 18:38:09,April,4,5,5,3,,,3,,5', '3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1', '3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3', '3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,', '3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3', '3/17/2015 18:39:01,Dave H,4,5,,5,,,,,', '3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2', '3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4', '3/17/2015 18:39:23,Hugh Jass,1,5,5,4,5,2,5,4,1', '3/17/2015 18:39:23,Alex,4,5,,3,,,,,', '3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,', '3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3', '3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5', '3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2', '3/17/2015 18:40:49,Markus,3,5,,3,,,4,,', '3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3', '3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,', '3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3', '3/17/2015 18:42:01,cheong-tseng eng,3,1,,,,,4,,']

---

### 15. Split the lines into "header" and "data" variables.

The header is the first string in the list of strings. It contains the column names of our data.

In [22]:
# A:

header = new_lines[0]
columns = new_lines[1:]

print(header)
print(columns)

Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe
['3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,', '3/17/2015 18:38:09,April,4,5,5,3,,,3,,5', '3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1', '3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3', '3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,', '3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3', '3/17/2015 18:39:01,Dave H,4,5,,5,,,,,', '3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2', '3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4', '3/17/2015 18:39:23,Hugh Jass,1,5,5,4,5,2,5,4,1', '3/17/2015 18:39:23,Alex,4,5,,3,,,,,', '3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,', '3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3', '3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5', '3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2', '3/17/2015 18:40:49,Markus,3,5,,3,,,4,,', '3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3', '3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,', '3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3', '3/17/2015 18:42:01,cheong-tseng eng,3,1,,,,,4,,']

---

### 16. Split the header and the data strings on commas.

To split a string on the comma character, use the built in **`.split(',')`** function. 

Split the header on commas, then print it. You can see that the original string is now a list containing items that were originally separated by commas.

In [23]:
# A:
header = header.split(',')
columns = [column.split(',') for column in columns]

In [24]:
columns

[['3/17/2015 18:37:58', 'Alison', '3', '5', '4', '3', '', '', '5', '5', ''],
 ['3/17/2015 18:38:09', 'April', '4', '5', '5', '3', '', '', '3', '', '5'],
 ['3/17/2015 18:38:25', 'Vijay', '3', '5', '5', '5', '3', '2', '1', '1', '1'],
 ['3/17/2015 18:38:28', 'Vanessa', '1', '5', '5', '2', '', '', '3', '2', '3'],
 ['3/17/2015 18:38:46', 'Isabel', '1', '4', '4', '2', '4', '', '4', '4', ''],
 ['3/17/2015 18:39:01', 'India', '5', '3', '3', '3', '3', '1', '', '', '3'],
 ['3/17/2015 18:39:01', 'Dave H', '4', '5', '', '5', '', '', '', '', ''],
 ['3/17/2015 18:39:05', 'Deepthi', '3', '5', '', '2', '', '', '', '', '2'],
 ['3/17/2015 18:39:14', 'Ramesh', '3', '4', '', '3', '', '', '', '', '4'],
 ['3/17/2015 18:39:23',
  'Hugh Jass',
  '1',
  '5',
  '5',
  '4',
  '5',
  '2',
  '5',
  '4',
  '1'],
 ['3/17/2015 18:39:23', 'Alex', '4', '5', '', '3', '', '', '', '', ''],
 ['3/17/2015 18:39:30', 'Ajay Anand', '3', '4', '4', '3', '5', '', '', '', ''],
 ['3/17/2015 18:39:35',
  'David Feng',
  '2',
  '3',
  '4',
  '2',
  '2',
  '',
  '5',
  '4',
  '3'],
 ['3/17/2015 18:39:42', 'Zach', '3', '4', '4', '3', '', '', '', '', '5'],
 ['3/17/2015 18:40:44', 'Matt', '3', '5', '4', '3', '2', '2', '4', '3', '2'],
 ['3/17/2015 18:40:49', 'Markus', '3', '5', '', '3', '', '', '4', '', ''],
 ['3/17/2015 18:41:18', 'Otto', '4', '2', '2', '5', '', '', '3', '3', '3'],
 ['3/17/2015 18:41:23',
  'Alessandro',
  '1',
  '5',
  '3',
  '2',
  '',
  '',
  '4',
  '3',
  ''],
 ['3/17/2015 18:41:35', 'Rocky', '3', '5', '4', '3', '3', '3', '4', '4', '3'],
 ['3/17/2015 18:42:01',
  'cheong-tseng eng',
  '3',
  '1',
  '',
  '',
  '',
  '',
  '4',
  '',
  '']]

---

### 17. Remove the "Timestamp" column.

We aren't interested in the "Timestamp" column in our data, so remove it from the header and the data list.

Removing the Timestamp from the header can be done with list functions or with slicing. To remove the header column from the data, use a for-loop.

Print out the new data object with the timestamps removed.

In [26]:
# A:
# A:
header = header[1:]
data_nots = []
for row in columns:
    data_nots.append(row[1:])

In [27]:
data_nots

[['Alison', '3', '5', '4', '3', '', '', '5', '5', ''],
 ['April', '4', '5', '5', '3', '', '', '3', '', '5'],
 ['Vijay', '3', '5', '5', '5', '3', '2', '1', '1', '1'],
 ['Vanessa', '1', '5', '5', '2', '', '', '3', '2', '3'],
 ['Isabel', '1', '4', '4', '2', '4', '', '4', '4', ''],
 ['India', '5', '3', '3', '3', '3', '1', '', '', '3'],
 ['Dave H', '4', '5', '', '5', '', '', '', '', ''],
 ['Deepthi', '3', '5', '', '2', '', '', '', '', '2'],
 ['Ramesh', '3', '4', '', '3', '', '', '', '', '4'],
 ['Hugh Jass', '1', '5', '5', '4', '5', '2', '5', '4', '1'],
 ['Alex', '4', '5', '', '3', '', '', '', '', ''],
 ['Ajay Anand', '3', '4', '4', '3', '5', '', '', '', ''],
 ['David Feng', '2', '3', '4', '2', '2', '', '5', '4', '3'],
 ['Zach', '3', '4', '4', '3', '', '', '', '', '5'],
 ['Matt', '3', '5', '4', '3', '2', '2', '4', '3', '2'],
 ['Markus', '3', '5', '', '3', '', '', '4', '', ''],
 ['Otto', '4', '2', '2', '5', '', '', '3', '3', '3'],
 ['Alessandro', '1', '5', '3', '2', '', '', '4', '3', ''],
 ['Rocky', '3', '5', '4', '3', '3', '3', '4', '4', '3'],
 ['cheong-tseng eng', '3', '1', '', '', '', '', '4', '', '']]

---

### 18. Convert numeric columns to floats and empty fields to `None`.

Iterate through the data, and construct a new data list of lists that contains the numeric ratings converted from strings into floats and the empty fields (which are empty strings '') replaced with the None object.

Use a nested for loop (a for loop within another for loop) to get the job done. You will likely need to use if-else conditional statements as well.

Print out the new data object to make sure you've succeeded.

In [28]:
# A:
modified_data_nots = []
for item in data_nots:
    new_col = []
    for col in item:
        if col.isdigit():
            new_col.append(int(col))
        elif col:
            new_col.append(col)
        else:
            new_col.append(None)
    modified_data_nots.append(new_col)

In [29]:
modified_data_nots

[['Alison', 3, 5, 4, 3, None, None, 5, 5, None],
 ['April', 4, 5, 5, 3, None, None, 3, None, 5],
 ['Vijay', 3, 5, 5, 5, 3, 2, 1, 1, 1],
 ['Vanessa', 1, 5, 5, 2, None, None, 3, 2, 3],
 ['Isabel', 1, 4, 4, 2, 4, None, 4, 4, None],
 ['India', 5, 3, 3, 3, 3, 1, None, None, 3],
 ['Dave H', 4, 5, None, 5, None, None, None, None, None],
 ['Deepthi', 3, 5, None, 2, None, None, None, None, 2],
 ['Ramesh', 3, 4, None, 3, None, None, None, None, 4],
 ['Hugh Jass', 1, 5, 5, 4, 5, 2, 5, 4, 1],
 ['Alex', 4, 5, None, 3, None, None, None, None, None],
 ['Ajay Anand', 3, 4, 4, 3, 5, None, None, None, None],
 ['David Feng', 2, 3, 4, 2, 2, None, 5, 4, 3],
 ['Zach', 3, 4, 4, 3, None, None, None, None, 5],
 ['Matt', 3, 5, 4, 3, 2, 2, 4, 3, 2],
 ['Markus', 3, 5, None, 3, None, None, 4, None, None],
 ['Otto', 4, 2, 2, 5, None, None, 3, 3, 3],
 ['Alessandro', 1, 5, 3, 2, None, None, 4, 3, None],
 ['Rocky', 3, 5, 4, 3, 3, 3, 4, 4, 3],
 ['cheong-tseng eng', 3, 1, None, None, None, None, 4, None, None]]

---

### 19. Count the `None` values per person, and put counts in a dictionary.

Use a for loop to count the number of `None` values per person. Create a dictionary with the names of the people as keys, and the counts of `None` as values.

Who rated the most coffee brands? Who rated the least?

In [30]:
# A:

name_dict = {}
for row in modified_data_nots:
    name = row[0]
    col_values = row[1:]
    name_dict[name] = sum([1 for value in col_values if not value])

---

### 20. Calculate average rating per coffee brand.

**Excluding `None` values**, calculate the average rating per brand of coffee.

The final output should be a dictionary with keys as the coffee brand names, and their average rating as the values.

Remember that average can be calculated as the sum of the ratings over the number of ratings:

```python
average_rating = float(sum(ratings_list))/len(ratings_list)
```

Print your dictionary to see the average brand ratings.

In [31]:
# A:# A:

header

['Starbucks',
 'PhilzCoffee',
 'BlueBottleCoffee',
 'PeetsTea',
 'CaffeTrieste',
 'GrandCoffee',
 'RitualCoffee',
 'FourBarrel',
 'WorkshopCafe']

In [32]:

modified_data_nots

[['Alison', 3, 5, 4, 3, None, None, 5, 5, None],
 ['April', 4, 5, 5, 3, None, None, 3, None, 5],
 ['Vijay', 3, 5, 5, 5, 3, 2, 1, 1, 1],
 ['Vanessa', 1, 5, 5, 2, None, None, 3, 2, 3],
 ['Isabel', 1, 4, 4, 2, 4, None, 4, 4, None],
 ['India', 5, 3, 3, 3, 3, 1, None, None, 3],
 ['Dave H', 4, 5, None, 5, None, None, None, None, None],
 ['Deepthi', 3, 5, None, 2, None, None, None, None, 2],
 ['Ramesh', 3, 4, None, 3, None, None, None, None, 4],
 ['Hugh Jass', 1, 5, 5, 4, 5, 2, 5, 4, 1],
 ['Alex', 4, 5, None, 3, None, None, None, None, None],
 ['Ajay Anand', 3, 4, 4, 3, 5, None, None, None, None],
 ['David Feng', 2, 3, 4, 2, 2, None, 5, 4, 3],
 ['Zach', 3, 4, 4, 3, None, None, None, None, 5],
 ['Matt', 3, 5, 4, 3, 2, 2, 4, 3, 2],
 ['Markus', 3, 5, None, 3, None, None, 4, None, None],
 ['Otto', 4, 2, 2, 5, None, None, 3, 3, 3],
 ['Alessandro', 1, 5, 3, 2, None, None, 4, 3, None],
 ['Rocky', 3, 5, 4, 3, 3, 3, 4, 4, 3],
 ['cheong-tseng eng', 3, 1, None, None, None, None, 4, None, None]]

In [34]:
coffee_brand = {}
for idx, brand in enumerate(header):
    if idx:
        coffee_brand[brand] = []
        for values in modified_data_nots:
            if values[idx]:
                coffee_brand[brand].append(values[idx])

In [35]:
{key: float(sum(value)) / len(value) for key, value in coffee_brand.items()}

{'BlueBottleCoffee': 4.25,
 'CaffeTrieste': 3.1052631578947367,
 'FourBarrel': 3.769230769230769,
 'GrandCoffee': 3.375,
 'PeetsTea': 4.0,
 'PhilzCoffee': 2.85,
 'RitualCoffee': 2.0,
 'WorkshopCafe': 3.3}

---

### 21. Create a list containing only the people's names.

In [37]:
names = []
for item in modified_data_nots:
    names.append(item[0])
print(names)

['Alison', 'April', 'Vijay', 'Vanessa', 'Isabel', 'India', 'Dave H', 'Deepthi', 'Ramesh', 'Hugh Jass', 'Alex', 'Ajay Anand', 'David Feng', 'Zach', 'Matt', 'Markus', 'Otto', 'Alessandro', 'Rocky', 'cheong-tseng eng']

---

### 22. Picking a name at random. What are the odds of choosing the same name three times in a row?

Now we'll use a while-loop to "brute force" the odds of choosing the same name 3 times in a row randomly from the list of names.

Below I've imported the **`random`** package, which has the essential function for this code **`random.choice()`**.
The function takes a list as an argument, and returns one of the elements of that list at random.

In [39]:
import random
# Choose a random person from the list of people:
# random.choice(people)

import random
random.choice(names)

'cheong-tseng eng'

Write a function to choose a person from the list randomly three times and check if they are all the same

Define a function that has the following properties:

1. Takes a list (your list of names) as an argument.
2. Selects a name using `random.choice(people)` three separate times.
3. Returns `True` if the name was the same all three times. Otherwise returns `False`.

In [51]:
# A:
def get_same_name(names):
    first_name = random.choice(names)
    second_name = random.choice(names)
    third_name = random.choice(names)
    return first_name == second_name == third_name

def get_same_name_lc(names):
    names = [random.choice(names) for i in range(3)]
    return len(set(names)) == 1

---

### 23. Construct a while loop to run the choosing function until it returns True.

Run the function until you draw the same person three times using a while-loop. Keep track of how many tries it took and print out the number of tries after it runs.

In [53]:
# A:

tries = 0
choose_same_person = False
while not choose_same_person:
    tries += 1
    same_person = get_same_name(names)
    if same_person:
        choose_same_person = True