## SQL and Algorithm Review 
---
### SQL exercises

#### 1. Given the following tables and their schemas

Table Name	Column Names

consumer	id: unique ID of consumer

delivery	id: unique ID given to each delivery, actual_delivery_time: timestamp of mint delivery completed,
            restaurant_id: unique ID of restaurant location associated with delivery

order_cart	id: unique ID given to each order cart, creator_id: consumer ID of order cart creator, delivery_id:delivery ID associated with order cart, is_first_ordercart: designation of order cart from a first-time customer

store	id: unique ID of restaurant associated with delivery, name: restaurant name, market_id: ID number of market in which store is located

Relevant tables and fields:
Format:   table_name.field_name
Example: delivery.actual_delivery_time

1. Please write a query to establish monthly cohorts based on month joined.
2. Please write a query or series of queries to calculate weighted average retention of new customers by months after first purchase (1,2,etc.).


__Notes : Weighted average retention looks at all new customers (they are new in month 0 and so month 0 retention is 100%) and looks at their behavior in month 1. For new customers in October 2014, month 1 is November 2014. For new customers in December 2014, month 1 is January 2015. We take a weighted average of all the 1-month-after-purchase retention numbers to get a 1-month retention calculation.__


#### 2. Below, we have two tables in our relational database named accounts and weigh_ins.

#### accounts

    account_id	INT
    gender	    TEXT
    birthday	DATE

#### weigh_ins
    account_id	INT
    weighed_at	TIMESTAMP
    weight	    FLOAT

**Using the tables above, please answer the following using SQL:**


1. Write a query to get the number of accounts by gender.
2. Write a query to get the number of accounts by this age group. [18-29, 30-39, 40-49, 50+]
3. Extend the query above to filter the above results by male participants who have weighed-in in the last two weeks?

____
____

## Algorithm Review : 


#### 1. Problem 1 : 

Winter is coming! Your first job during the contest is to design a standard heater with fixed warm radius to warm all the houses.

Now, you are given positions of houses and heaters on a horizontal line, find out minimum radius of heaters so that all houses could be covered by those heaters.

So, your input will be the positions of houses and heaters seperately, and your expected output will be the minimum radius standard of heaters.

__Note:
Numbers of houses and heaters you are given are non-negative and will not exceed 25000.
Positions of houses and heaters you are given are non-negative and will not exceed 10^9.__

As long as a house is in the heaters' warm radius range, it can be warmed.
All the heaters follow your radius standard and the warm radius will the same.

- Example 1:
    - Input: [1,2,3],[2]
    
    - Output: 1
Explanation: The only heater was placed in the position 2, and if we use the radius 1 standard, then all the houses can be warmed.


- Example 2:
    - Input: [1,2,3,4],[1,4]
    
    - Output: 1
Explanation: The two heater was placed in the position 1 and 4. We need to use radius 1 standard, then all the houses can be warmed.

#### 2. Problem 2 

Given a list of non negative integers, arrange them such that they form the largest number.

For example, given [3, 30, 34, 5, 9], the largest formed number is 9534330.

Note: The result may be very large, so you need to return a string instead of an integer.

--------

### Afternoon Project

Analyze data on New York motor vehicle collisions and answer the question : 

__ What are your ideas for reducing accidents in Brooklyn?__

Data is available on Google BigQuery. 
(See [quickstart](https://cloud.google.com/bigquery/quickstart-web-ui) for more detailed instructions on set up)
1. Log on to Google [BigQuery](https://bigquery.cloud.google.com/welcome) 
2. Create a new Project
3. Go to the [BigQuery Motor Vehicle data UI](https://bigquery.cloud.google.com/table/bigquery-public-data:new_york.nypd_mv_collisions?tab=schema)
4. Use "Preview" to view the data and "Compose Query" to access it in SQL.